/* Font Config*/
@font-face {
  font-family: "icomoon";
  src: url("font/icomoon.eot?qwt5q");
  src: url("font/icomoon.eot?qwt5q#iefix") format("embedded-opentype"),
    url("font/icomoon.woff?qwt5q") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e903";
}
.icon-grid2:before {
  content: "\e904";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e906";
}
.icon-dots-two-vertical:before {
  content: "\e907";
}
.icon-chevrons-left:before {
  content: "\e900";
}
.icon-chevrons-right:before {
  content: "\e901";
}
.icon-chevrons-up:before {
  content: "\e902";
}

/* Page Config */

body {
  background-color: white;
  margin: 0 0;
  height: 100%;
  overflow-y: hidden;
}

.wrap {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.fullpage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.langsa {
  z-index: 26;
  position: fixed;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  padding: 1px 0px;
  margin: 0 0;
}

.langsa > ul {
  margin: 0 0;
  padding: 12px 10px;
  display: inline-block;
}

.langsa > ul > li {
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 6px;
  margin: 0 0;
  letter-spacing: 2px;
}

.langsa > ul > li > a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.langsa > ul > li > a:hover {
  color: rgb(200, 200, 200);
}

.langsb {
  z-index: 26;
  position: fixed;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  padding: 1px 0px;
  margin: 0 0;
  display: none;
}

.langsb > ul {
  margin: 0 0;
  padding: 12px 10px;
  display: inline-block;
}

.langsb > ul > li {
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 6px;
  margin: 0 0;
  letter-spacing: 2px;
}

.langsb > ul > li > a {
  color: black;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.langsb > ul > li > a:hover {
  color: rgb(134, 134, 134);
}



/* home page style */
.enterpage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  visibility: hidden;
}

.logo {
  text-align: center;
  /*line-height: 150px;*/
  width: 400px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}
.logo > h1 {
  margin: 39.5px 0;
  /*padding: 0 0 ;*/
  position: relative;
  display: inline-block;
  font-size: 47px;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;
  border: 2px solid white;
}

.carregando {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-75px);
  text-align: center;
  width: 400px;
  height: 150px;
}

.carregando > h1 {
  margin: 39.5px 0;
  /*padding: 0 0 ;*/
  position: relative;
  display: inline-block;
  font-size: 47px;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;
  border: 2px solid white;
}

#progress-bar-pages {
  position: relative;
  top: 50%;
  display: block;
  background-color: white;
  background-clip: content-box;
  background-origin: content-box;
  opacity: 0.9;
  height: 1px;
  width: 0px;
  padding: 3px;
  border: 1px solid white;
}

#progress-bar {
  position: relative;
  display: block;
  background-color: black;
  opacity: 0.9;
  height: 3px;
  width: 0px;
}

/*  Background Animation*/
.enterpage > figure {
  animation: imageAnimation 35s linear infinite;
  animation-play-state: paused;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.enterpage > figure:nth-child(1) {
  background-image: url("");
}
.enterpage > figure:nth-child(2) {
  animation-delay: 5s;
  background-image: url("");
}
.enterpage > figure:nth-child(3) {
  animation-delay: 10s;
  background-image: url("");
}
.enterpage > figure:nth-child(4) {
  animation-delay: 15s;
  background-image: url("");
}
.enterpage > figure:nth-child(5) {
  animation-delay: 20s;
  background-image: url("");
}
.enterpage > figure:nth-child(6) {
  animation-delay: 25s;
  background-image: url("");
}
.enterpage > figure:nth-child(7) {
  animation-delay: 30s;
  background-image: url("");
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
   33.33%  { opacity: 1; }
   44.44%  { opacity: 0; }
   100% { opacity: 0; }
  94% {animation-timing-function: ease-out;opacity: 0; }*/
/*00% {animation-timing-function: ease-in; opacity: 0; }*/
/*06% {opacity: 1; }
   10% {animation-timing-function: ease-out;opacity: 0; }*/
/*14% {animation-timing-function: ease-in; opacity: 1; }*/
/*22% {opacity: 1; }
   26% {animation-timing-function: ease-out;opacity: 0; }*/
/*28% {animation-timing-function: ease-in; opacity: 0; }*/
/*38% {opacity: 1; }
   42% {animation-timing-function: ease-out;opacity: 0; }*/
/*42% {animation-timing-function: ease-in; opacity: 1; }*/
/*54% {opacity: 1; }
   58% {animation-timing-function: ease-out;opacity: 0; }*/
/*56% {animation-timing-function: ease-in; opacity: 0; }*/
/*70% {opacity: 1; }
   74% {animation-timing-function: ease-out;opacity: 0; }*/
/*70% {animation-timing-function: ease-in; opacity: 1; }*/
/*86% {opacity: 1; }
   94% {animation-timing-function: ease-out;opacity: 0; }*/
/*84% {animation-timing-function: ease-out;opacity: 1; }*/
/*90% {animation-timing-function: ease-out;opacity: 0; }*/

/* Logo top bar style */
.topbar {
  z-index: 10;
  position: fixed;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  padding: 1px 0px;
  color: white;
}

.logotop {
  float: left;
  margin: 0px 15px;
  cursor: pointer;
}

/* Menu page style */
.logotop > h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  font-family: "Convergence", sans-serif;
  padding: 5px 10px 6px 10px;
  margin: 10px 0;
  border: 1px solid;
}

.menubtn {
  float: right;
  padding: 11px 15px;
}

.menubtn:hover {
  color: black;
  cursor: pointer;
}

.menubtnx {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
}

.menubtnx .aa {
  font-family: "Roboto", sans-serif;
  font-size: 110px;
  font-weight: 100;
  line-height: 80px;
  margin: 0 0;
  color: black;
  transform: scale(1, 0.8);
}

.menubtnx .aa:hover {
  font-family: "Roboto", sans-serif;
  font-size: 110px;
  text-shadow: 1px 1px 10px black;
  line-height: 80px;
  margin: 0 0;
  color: black;
  transform: scale(1, 0.8);
}

.menupage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*flex: 1;*/
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 15;
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 10px;
  width: 550px;
  height: 500px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border-radius: 0 50px 0 50px;
  border: 1px solid;
  margin: auto;
}

.menu > ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

.menu > ul > li {
  display: block;
  margin: 0 0;
  padding: 0 0;
  font-size: 72px;
  font-weight: 100;
  text-decoration: none;
  line-height: 90px;
  font-family: "Convergence", sans-serif;
  color: black;
}

.menu > ul > li:hover {
  cursor: pointer;
  color: gray;
}

.social {
  position: absolute;
  top: 720px;
  padding: 10px;
}

.social > ul > li {
  list-style: none;
  display: inline;
  list-style: none;
  padding: 0px 10px;
  color: black;
}

.social > ul > li > a {
  color: black;
}
.social > ul > li > a:hover {
  color: gray;
}

/*.switch-locale .js-locpt{
  display: inherit;
  visibility: visible;
}*/

/* Bio page style */

.bio {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  visibility: hidden;
}

.biocontent {
  text-align: justify;
  line-height: 10px;
  max-width: 500px;
  height: 600px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border-radius: 0 50px 0 50px;
  padding: 15px 65px 15px 25px;
  border: 1px solid;
  margin: auto;
  font-size: 19px;
  text-decoration: none;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: blue;
}
.biocontent > h1 {
  font-weight: 600;
  margin-bottom: 5px;
}
.biocontent > h2 {
  font-size: 25px;
  margin-top: 6px;
  font-weight: 500;
}
.biocontent > p {
  font-weight: 400;
}
/* Projetos page style */

.projetos {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /*align-items: flex-start;*/
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background: rgba(19, 48, 64, 1);
  z-index: 1;
  visibility: hidden;
}

/* Coleções page style */

.colecoes {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /*align-items: center;*/
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background: purple;
  z-index: 1;
  visibility: hidden;
}

/* Instagram page style */

.insta {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
  /*align-items: center; */
  width: 100%;
  height: 100vh;
  background: rgb(56, 33, 71);
  z-index: 1;
  visibility: hidden;
}

/* Lightbox page style */

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(60, 21, 34);
  z-index: 1;
  visibility: hidden;
}

/* photo page style*/
.fototview{
  visibility: visible;
  display: inherit;
}
.fotopage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
  height: 100vh;
  background: rgb(73, 161, 116);
  z-index: 1;
  visibility: hidden;
}

.maingrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: flex;
  background-color: rgba(215, 255, 225, 0.2);
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6px;
  width: auto;
  width: 100%;
  height: 825px;
  visibility: hidden;
  z-index: 2;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.mainfoto {
  display: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  width: auto;
  min-width: 70%;
  height: 820px;
  visibility: hidden;
  z-index: 1;
}
.foto {
  background-color: rgba(255, 215, 255, 0.8);
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

.caption_container {
  position: relative;
  flex: 2;
  float: right;
  align-self: baseline;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  margin: 0px 0 0 0;
  padding: 10px 0px;
  min-width: 300px;
  height: 40px;
  right: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /*'Convergence', sans-serif;*/
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  text-align: right;
}

.instagrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  background-color: rgba(215, 255, 225, 0.2);
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
  width: inherit;
  height: 880px;
  visibility: hidden;
  z-index: 2;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  overflow-x: hidden;
}

.projetosgrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: flex;
  background-color: rgba(255, 255, 225, 0.1);
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6px;
  width: inherit; /* Inherit is an option */
  height: 880px;
  visibility: visible;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.colecoesgrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: flex;
  background-color: rgba(255, 255, 225, 0.1);
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6px;
  width: inherit; /* Inherit is an option */
  height: 880px;
  visibility: visible;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.footer {
  position: absolute;
  bottom: 0px;
  /*background-color: rgba(255, 255, 255, 0.6);*/
  width: auto;
  height: 60px;
  overflow: hidden;
}

.fotomenu {
  display: inline;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
}
.iga {
  font-size: 54px;
  border: 1px solid black;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: left;
  text-indent: -9px;
}

.igb {
  font-size: 54px;
  color: rgba(73, 161, 116, 1);
  width: 36px;
  height: 36px;
  line-height: 33px;
  text-align: left;
  text-indent: -9px;
  transform: translateX(-35px);
}

.igb:hover {
  cursor: pointer;
}
.icon-chevron-thin-left {
  font-size: 30px;
  border: 1px solid black;
  width: 36px;
  height: 36px;
  line-height: 38px;
  text-align: center;
  margin: 20px 10px 20px -20px;
}

.icon-chevron-thin-left:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.fotomenu > span:first-of-type {
  margin-left: 20px;
}
.fotomenu > span {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /*'Convergence', sans-serif;*/
  font-weight: 400;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
}

/*icon-dots-two-vertical */
.fotomenu .icon-chevrons-right {
  font-size: 26px;
  border: 0px solid black;
  font-weight: 100;
  margin: 0 4px -2px 4px;
}

/* Config */

.hide {
  display: none !important;
  visibility: hidden !important;
}
.show {
  display: contents !important;
  visibility: visible !important;
}

/*.gapibtn{
  visibility: hidden;
}*/

/* Masonry Grid Config */

#projetosgrid {
  /*width: 980px;*/
  /*width: 95%;*/
  /*display: inline-block;  ???? */
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  /*transform: translateX(10px);*/
}

#colecoesgrid {
  /*width: 980px;*/
  /*width: 95%;*/
  /*display: inline-block;  ???? */
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  /*transform: translateX(10px);*/
}

.gridpj {
  /*width: 980px;*/
  /*width: 95%;*/
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  /*transform: translateX(10px);*/
}

#instafeed {
  /*width: 980px;*/
  /*width: 95%;*/
  width: auto;
  margin: 0 auto;
  padding: 10px 0 200px 0;
  /*transform: translateX(10px);*/
}

.grid-sizer {
  width: 410px;
}

.item {
  display: block;
  float: left;
  width: 420px;
  margin: 0 20px 20px 0;
  background-color: rgba(215, 255, 225, 0.6);
  cursor: pointer;
}

.itemgallery {
  display: block;
  float: left;
  width: 420px;
  margin: 0 20px 20px 0;
  /*background-color: rgba(215, 255, 225, 0.6);*/
  cursor: pointer;
}

.iteminsta {
  display: block;
  float: left;
  width: 420px;
  margin: 0 15px 15px 0;
  background-color: rgba(215, 255, 225, 0.6);
}

.item img {
  width: 420px;
  height: auto;
}
.itemgallery img {
  width: 420px;
  height: auto;
}

.iteminsta img {
  width: 420px;
  height: auto;
}

.item > h5 {
  padding: 16px 12px;
  margin: 0px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  /*'Convergence', sans-serif;*/
  font-weight: 400;
  letter-spacing: 1px;
}
.iteminsta > h5 {
  padding: 16px 12px;
  margin: 0px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  /*'Convergence', sans-serif;*/
  font-weight: 400;
  letter-spacing: 1px;
}

/* Infinite Scrool */

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #777;
}

/* FOTOS CONFIG
.fotogrid{
  display:none;
  width:auto;
  height: auto;
  padding: 5px 5px;
}
*/
