/* Font Config*/
@font-face {
  font-family: "icomoon";
  src: url("font/icomoon.eot?qwt5q");
  src: url("font/icomoon.eot?qwt5q#iefix") format("embedded-opentype"),
    url("font/icomoon.woff?qwt5q") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e903";
}
.icon-grid2:before {
  content: "\e904";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e906";
}
.icon-dots-two-vertical:before {
  content: "\e907";
}
.icon-chevrons-left:before {
  content: "\e900";
}
.icon-chevrons-right:before {
  content: "\e901";
}
.icon-chevrons-up:before {
  content: "\e902";
}

/* Page Config */

body {
  background-color: white;
  margin: 0 0;
  height: 100%;
  overflow-y: hidden;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.langsa {
  z-index: 26;
  position: fixed;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  padding: 1px 0px;
  margin: 0 0;
}

.langsa > ul {
  margin: 0 0;
  padding: 12px 17px;
  display: inline-block;
}

.langsa > ul > li {
  display: inline-block;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 6px;
  margin: 0 0;
  letter-spacing: 2px;
}

.langsa > ul > li > a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.langsa > ul > li > a:hover {
  color: rgb(200, 200, 200);
}

.langsb {
  z-index: 26;
  position: fixed;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  padding: 1px 0px;
  margin: 0 0;
  display: none;
}

.langsb > ul {
  margin: 0 0;
  padding: 12px 10px;
  display: inline-block;
}

.langsb > ul > li {
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 0.375em;
  margin: 0 0;
  letter-spacing: 2px;
}

.langsb > ul > li > a {
  color: black;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.langsb > ul > li > a:hover {
  color: rgb(134, 134, 134);
}



/* home page style */
.enterpage {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  visibility: hidden;
}

.logo {
  text-align: center;
  /*line-height: 150px;*/
  width: 40%;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}
.logo > h1 {
  margin: 0.8em 0;
  /*padding: 0 0 ;*/
  position: relative;
  display: inline-block;
  font-size: 5vh;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;
  border: 2px solid white;
}

.carregando {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  text-align: center;
  min-width: 40%;
  height: 150px;
}

.carregando > h1 {
  margin: 39.5px 0;
  /*padding: 0 0 ;*/
  position: relative;
  display: inline-block;
  font-size: 47px;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;
  border: 2px solid white;
}

#progress-bar-pages {
  position: absolute;
  top: 50%;
  transform: translateY(-3px);
  display: block;
  background-color: white;
  background-clip: content-box;
  background-origin: content-box;
  opacity: 0.9;
  height: 1px;
  width: 0px;
  padding: 3px;
  border: 1px solid white;
}

#progress-bar {
  position: relative;
  display: block;
  background-color: black;
  opacity: 0.9;
  height: 3px;
  width: 0px;
}

/*  Background Animation*/
.enterpage > figure {
  -webkit-animation: imageAnimation 35s linear infinite;
          animation: imageAnimation 35s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.enterpage > figure:nth-child(1) {
  background-image: url("");
}
.enterpage > figure:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  background-image: url("");
}
.enterpage > figure:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  background-image: url("");
}
.enterpage > figure:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  background-image: url("");
}
.enterpage > figure:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
  background-image: url("");
}
.enterpage > figure:nth-child(6) {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
  background-image: url("");
}
.enterpage > figure:nth-child(7) {
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
  background-image: url("");
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
   33.33%  { opacity: 1; }
   44.44%  { opacity: 0; }
   100% { opacity: 0; }
  94% {animation-timing-function: ease-out;opacity: 0; }*/
/*00% {animation-timing-function: ease-in; opacity: 0; }*/
/*06% {opacity: 1; }
   10% {animation-timing-function: ease-out;opacity: 0; }*/
/*14% {animation-timing-function: ease-in; opacity: 1; }*/
/*22% {opacity: 1; }
   26% {animation-timing-function: ease-out;opacity: 0; }*/
/*28% {animation-timing-function: ease-in; opacity: 0; }*/
/*38% {opacity: 1; }
   42% {animation-timing-function: ease-out;opacity: 0; }*/
/*42% {animation-timing-function: ease-in; opacity: 1; }*/
/*54% {opacity: 1; }
   58% {animation-timing-function: ease-out;opacity: 0; }*/
/*56% {animation-timing-function: ease-in; opacity: 0; }*/
/*70% {opacity: 1; }
   74% {animation-timing-function: ease-out;opacity: 0; }*/
/*70% {animation-timing-function: ease-in; opacity: 1; }*/
/*86% {opacity: 1; }
   94% {animation-timing-function: ease-out;opacity: 0; }*/
/*84% {animation-timing-function: ease-out;opacity: 1; }*/
/*90% {animation-timing-function: ease-out;opacity: 0; }*/

/* Logo top bar style */
.topbar {
  z-index: 10;
  position: fixed;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  padding: 1px 0px;
  color: white;
}

.logotop {
  float: left;
  margin: 0px 15px;
  cursor: pointer;
}

/* Menu page style */
.logotop > h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  font-family: "Convergence", sans-serif;
  padding: 5px 10px 6px 10px;
  margin: 10px 0;
  border: 1px solid;
}

.menubtn {
  float: right;
  padding: 11px 15px;
}

.menubtn:hover {
  cursor: pointer;
}

.menubtn >i:hover{
  color: rgba(255,255,255,1);
  animation: two 1.20s;
}

@keyframes two {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.menubtnx {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
}

.menubtnx .aa {
  font-family: "Roboto", sans-serif;
  font-size: 110px;
  font-weight: 100;
  line-height: 80px;
  margin: 0 0;
  color: rgb(5, 20, 131);
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}

.menubtnx .aa:hover {
  font-family: "Roboto", sans-serif;
  font-size: 110px;
  text-shadow: 1px 1px 10px rgb(5, 20, 131);
  line-height: 80px;
  margin: 0 0;
  color: rgb(5, 20, 131);
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}

.menupage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*flex: 1;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.93);
  z-index: 15;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 10px;
  width: 56%;
  height: 56%;
  /*background-color: rgba(255, 255, 255, 0.7);*/
  border-radius: 0 50px 0 50px;
  border: 2px solid rgb(5, 20, 131);
  margin: auto;
}

.menu > ul {
  list-style: none;
  transform: translateY(-8px);

  padding: 0 0;
  margin: 0 0;
}

.menu > ul > li {
  display: block;
  margin: 0 0;
  padding: 2px 0;
  font-size: 68px;
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration: none;
  line-height: 80px;
  font-family: "Convergence", sans-serif;
  color: rgb(5, 20, 131);
}

.menu > ul > li:hover {
  cursor: pointer;
  text-shadow: 1px 1px 8px rgba(5, 20, 131,0.8);
  color: rgb(5, 20, 131);
}

.social {
  position: absolute;
  top: 750px;
  padding: 10px;
}

.social > ul > li {
  list-style: none;
  display: inline;
  list-style: none;
  padding: 0px 10px;
  /*color: rgb(5, 20, 131);*/
}

.social > ul > li > a {
  color: rgb(5, 20, 131);
}
.social > ul > li > a:hover {
  text-shadow: 1px 1px 3px rgba(47, 21, 40, 1);
  color: rgb(5, 20, 131);
}

/*.switch-locale .js-locpt{
  display: inherit;
  visibility: visible;
}*/

/* Bio page style */

.bio {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  visibility: hidden;
}

.biocontent {
  text-align: justify;
  line-height: 10px;
  max-width: 500px;
  height: 600px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border-radius: 0 50px 0 50px;
  padding: 15px 65px 15px 25px;
  border: 1px solid;
  margin: auto;
  font-size: 19px;
  text-decoration: none;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: rgb(5, 20, 131);
}
.biocontent > h1 {
  font-weight: 600;
  margin-bottom: 5px;
}
.biocontent > h2 {
  font-size: 25px;
  margin-top: 6px;
  font-weight: 500;
}
.biocontent > p {
  font-weight: 400;
}
/* Projetos page style */

.projetos {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*align-items: flex-start;*/
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 100vh;
  background: rgba(3, 8, 27, 1);
  z-index: 1;
  visibility: hidden;
}

.projdescription{
position: absolute;
left: 0;
top: 0;
display: inline-block;
float: left;
height: 100%;
width: 0px;
z-index: 25;
background: rgba(251, 250, 249, 0.92);
color: rgba(0, 0, 0, 0.0);
padding: 0em 0 0 0em ;
cursor: pointer;
font-size: 19px;
text-align: justify;
text-justify: distribute;
line-height: 10px;
text-decoration: none;
line-height: 30px;
font-family: "Roboto", sans-serif;
}

.pdinf{
  overflow-y: hidden;
}

#pd--tx{
  font-weight: 600;
  line-height: 1.1em;
  /*margin-bottom: 8px;*/
}

#pd--stt{
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: normal;
}

.pd--p{
  display: inline-block;
  font-weight: 400;
  width: 90%;
  text-align: left;
}

/* Coleções page style */

.colecoes {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*align-items: center;*/
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 100vh;
  background: rgb(3 , 8, 27);
  z-index: 1;
  visibility: hidden;
}

/* Instagram page style */

.insta {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  /*align-items: center; */
  width: 100%;
  height: 100vh;
  background: rgb(16, 2, 26);
  z-index: 1;
  visibility: hidden;
}

/* Lightbox page style */

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background: rgb(3, 8, 27);
  z-index: 1;
  visibility: hidden;
}

.lbmain{
  display: none;
  flex-flow: column wrap;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-height: 87vh;
  visibility: hidden;
  margin-top: 80px;
  z-index: 1;
  visibility: hidden;
}

.lbfoto{
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
      align-items: center;
      justify-content: center;
  z-index:10;
}

.lbfotopv{
  z-index:20;
}

.ver{
  position: absolute;
  /*display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
      align-items: center;
      justify-content: center;*/
  z-index: 15;
}

.ver > figure{
  display: none;
  margin: 0;
  padding: 0;
}

.ver > figure > img{
  box-sizing: border-box;
  max-height: 65vh;
  max-width: 90vw;
  padding: 5px;
  vertical-align: middle;
}

.lbSlides {
  display: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: auto;
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  z-index: -5;
  background-color: rgba(255, 255, 255, 0.05);
}

.lbSlides > img{
  box-sizing: border-box;
  max-height: 65vh;
  max-width: 90vw;
  padding: 5px;
  vertical-align: middle;
}

.lblist{
position: absolute;
left: 0;
top: 0;
display: flex; /*flex;*/
flex-flow: row wrap;
float: left;
height: 100%;
width: 0px;
z-index: 28;
background: rgba(251, 250, 249, 0.92);
cursor: pointer;
/*transform: translatex(-100%);*/
}
::-webkit-scrollbar {
width: 0px; /* remove scrollbar space */
background: transparent; /* optional: just make scrollbar invisible */
/*overflow-x: hidden;*/
overflow-y: hidden;

}

#lb--tx{
  font-weight: 600;
  font-size: 3em;
  line-height: 1.1em;
  margin: 15px 0 10px 0;
}

#lb--stt{
  font-size: 1.2em;
  margin: 8px 0 15px 0;
  font-weight: 500;
  line-height: normal;
}

.lb--p{
  display: inline-block;
  font-weight: 400;
  width: 90%;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.05em;
  margin: 15px 0 10px 0;
  text-justify: auto;
  text-align-last: left;
}

.lbinfo{
  display: inline-block;
  opacity: 0;
  flex: 0 1 auto;
  padding: 0 0 0 1.2em ;
  cursor: pointer;
  font-size: 19px;
  text-align: justify;
  line-height: 10px;
  text-decoration: none;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
  overflow-y: hidden;
}

.lbmini{
  position: relative;
  opacity: 0.0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 70vh;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  flex: 0 1 auto;
  overflow-y: hidden;
}


.lbmini > figure{
  position: relative;
  margin: 0;
  width: auto;
  max-height: 70px;
  padding: 5px;
  flex: 0 1 auto;
}

.lbmini > figure> img{
min-width: 100%;
max-height: 70px;
}

.lbfotopv > div{
  height: 70%;
}

.lbfooter {
  position: relative;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.022);
  width: 100%;
  height: 22vh;
  overflow: hidden;
  visibility: hidden;

}

.lbfotomenu {
  /*display: inline;*/
  visibility: hidden;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  padding: 5px;
  z-index: 5;
}

.lbdel{
  position: absolute;
  background: rgba(0,0,0,0.2);
  right: 5px;
  top: 5px;
  border: 1px solid white;
  width: 36px;
  height: 36px;
  text-align: left;
}


.lbdel:hover{
  background: rgba(255,255,255,0.12);
  cursor: pointer;
}

.lbxx{
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0;
  text-align: center;
  color: white;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);

}

.lbxx:hover {
  margin: 0 0;
  color: white;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}

.lbversion{
  position: relative;
  opacity:1;
  left: 1px;
  border: 1px solid black;
  width: auto;
  height: 56px;
  text-align: center;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

.lbversion>img{
  max-width: auto;
  max-height: 56px;
  margin: 0px;
  overflow: hidden;
}

.lbversion:hover{
border: 1px solid white;

}

.lbverdisabled{
  cursor:auto;
  background: rgba(255,255,255,1);
}

.lbverdisabled:hover{
border: 1px solid black;
}

.lbverdisabled >img {
  filter: grayscale(100%);
  filter: contrast(50%) grayscale(100%);
  opacity: 0.5;
  border: 1px solid black !important;
}


.lbformat{
  position: absolute;
  display: inline-block;
  bottom: 56px;
  border: 1px solid white;
  width: 96px;
  height: 36px;
  text-align: center;
  background: rgba(0,0,0,0.10);
}

.lbformat:hover{
  border: 1px solid white;
  cursor: pointer;
  background: rgba(255,255,255,0.06);
}

.lbformat>h1{
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
}

.lbformatmenu{
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.01);
  height: 22vh;
  padding:  10px 5px 5px 5px;
  overflow: hidden;
  visibility: hidden;
  z-index: 15;
}

.lbsizes{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  left: 1px;
  width: 248px;
  height: 70%;
  text-align: center;
  margin: 0px 10px 0px 0px;
  z-index: 10;
}

.lbsizesfont{
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  left: 1px;
  width: 253px;
  height: 70%;
  text-align: center;
  margin: 0px 0px 0px 0px;
  z-index: 5;
}

.lbsizesfont>h4{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  transform: translateY(-5px);
  margin: 0px 0;
}

.lbsizes >svg:nth-child(-n+4) {
  background: rgba(0,0,0,0.3);
  order: 1;
  align-self: flex-end;
  cursor: pointer;
}
.lbsizes >svg:nth-child(5) {
  width: 100%;
  order: 2;
  cursor: pointer;
}
.lbsizes >svg:nth-last-child(-n+4) {
  background: rgba(0,0,0,0.3);
  order:3;
  cursor: pointer;
}

.lbsizes >svg:nth-child(-n+4):hover, .lbsizes >svg:nth-last-child(-n+4):hover {
  background: rgba(255,255,255,0.1);
}



#lbformatprint{
  position: absolute;
  display: inline-flex;
  height: 40px;
  top: 40%;
  left: 260px;
  margin: 5px;
}

#lbformatprint>h4{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  margin:0 0 0 3px;
  color: white;
}

#lbfortmatdigital{
  position: absolute;
  display: inline-flex;
  height: 40px;
  top: 8%;
  left: 260px;
  margin: 5px;
}

#lbfortmatdigital>h4{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  margin:0 0 0 3px;
  color: white;
}

.lbformatsend{
  position: absolute;
  bottom: 0px;
  border: 1px solid white;
  width: 96px;
  height: 38px;
  text-align: center;
  margin: 0 0 5px 0;
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,0.2);
}
.lbformatsend:hover{
  background: rgba(255,255,255, 0.2);
}

.lbformatsend>h1{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.lbsendmenu{
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 22vh;
  overflow: hidden;
  visibility: hidden;
  padding: 5px;
  z-index: 15;
}

#lbname{
  position: absolute;
  top: 5px;
  left: 4px;
  width: 300px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}
#lbemail{
  position: absolute;
  top: 37px;
  left: 4px;
  width: 300px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}
#lbmessage{
  position: absolute;
  top: 68px;
  left: 4px;
  width: 300px;
  height: 85px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  resize: none;
}

.lbsend{
  position: absolute;
  bottom: 0px;
  border: 1px solid white;
  width: 96px;
  height: 38px;
  text-align: center;
  margin: 0 0 8px 0px;
  background: rgba(0,0,0,0.2);
}

.lbsend:hover{
  background: rgba(255,255,255,0.05);
  border: 1px solid white;
  cursor: pointer;
}

.lbsend >h1{
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.lbsend >h1:hover{
  color: white;
  margin: 0;
}

.lbsendok{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 22vh;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  padding: 5px;
  z-index: 25;
  opacity: 0;

}

.lbsendokm{
    margin: 50px auto 0 auto;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    border: 1px solid white;
    letter-spacing: 2px;
    display: none;
}

.lbsendokm>h1{
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
}

.lbsendokm>h4{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
}

.lbsendfail{
  margin: 50px auto 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 12px 25px 12px 25px;
  border: 1px solid white;
  letter-spacing: 1px;
  line-height: 36px;
  display: none;
}
.lbsendfail>h1{
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
}

.noselected {
  display: none;
  position: absolute;
  top:42%;
  text-align: center;
  /*line-height: 150px;*/
  width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}
.noselected > h1 {
  margin: 0;
  /*padding: 0 0 ;*/
  position: relative;
  display: inline-block;
  font-size: 2.5em;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;
  border: 2px solid white;
}




                        /* Photo  Page Style Setup*/
.fototview{
  visibility: visible;
  display: inherit;
}
.fotopage {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  width: 100%;
  height: 100vh;
  background: rgba(3, 8, 27, 1); /* Sempre alterar com .igb l951*/
  z-index: 1;
  visibility: hidden;

}

/*
.imagebk{
  position: absolute;
  width: 80vw;
  height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  filter: blur(500px) grayscale(0%) saturate(150%) brightness(90%);
  transform: scale(1.3);
  opacity: 0.9;
  overflow-y: hidden;
}*/

.maingrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(215, 255, 225, 0.03);
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 6px;
  width: auto;
  width: 100%;
  height: 87vh;
  visibility: hidden;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.gridcc, .gridpj, .gridsc{
  padding-bottom: 90px;
}

.gload{
  position: fixed;
  display: none;
  opacity: 1;
  bottom: 8%;
  width: 87vw;
  background: rgba(255, 255, 255, 0);
  font-size: 1em;
  height: auto;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  z-index: 25;
}
.gload >h3{
  margin: 0;
  padding: 10px;
}

/*.gNoloadingin{
  -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);

  -moz-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    -o-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    -webkit-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    transition: all 500ms cubic-bezier(.54,.32,.52,.72);
}

.gNoloadingout{
  -moz-transform: translateY(1px);
    -o-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);

  -moz-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    -o-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    -webkit-transition: all 500ms cubic-bezier(.54,.32,.52,.72);
    transition: all 500ms cubic-bezier(.54,.32,.52,.72);
}*/

.gSlides {
  display: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: auto;
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  z-index: -5;
  background-color: rgba(255, 255, 255, 0.1);
}

.gSlides > img{
  box-sizing: border-box;
  max-height: 88.5vh;
  max-width: 90vw;
  padding: 5px;
  vertical-align: middle;
}

.mainfoto {
  display: none;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-height: 88.5vh;
  visibility: hidden;
  margin-top: -12px;
  z-index: 1;
}
.foto {
  display: flex;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
      align-items: center;
      justify-content: center;
}


.caption_container {
  position: absolute;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  float: right;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 10px 0px;
  min-width: 300px;
  right: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: lowercase;
  letter-spacing: 0.8px;
  text-align: right;
}

.instagrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.022);
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  width: inherit;
  height: 90vh;
  visibility: hidden;
  z-index: 2;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  overflow-x: hidden;
}

.projetosgrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.022);
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 12px; /* 6px */
  width: inherit; /* Inherit is an option */
  height: 88.5vh; /*880px 89.6vh*/
  visibility: visible;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.colecoesgrid {
  position: absolute;
  top: 5%;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.022);
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 6px;
  width: inherit; /* Inherit is an option */
  height: 89.6vh; /*880px*/
  visibility: visible;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.footer {
  position: absolute;
  bottom: 0px;
  width: auto;
  height: 60px;
  overflow: hidden;
}

.fotomenu {
  display: inline;
  color: white;
  width: 600px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 20px;
}
.iga {
  font-size: 54px;
  color: white;
  border: 1px solid white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: left;
  text-indent: -9px;
}

.igb {
  font-size: 54px;
  color: rgba(3, 8, 27, 1);
  width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: left;
  text-indent: -9.3px;
  -webkit-transform: translateX(-35.3px);
          transform: translateX(-35.3px);
}

.igb:hover {
  cursor: pointer;
}
.icon-chevron-thin-left {
  color: white;
  font-size: 30px;
  border: 1px solid white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 20px 10px 20px -20px;
}

.icon-chevron-thin-left:hover {
  color: white;
  border: 1px solid white;
  opacity: 0.3;
  cursor: pointer;
}
.fotomenu > span:first-of-type {
  margin-left: 20px;
}
.fotomenu > span {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
}
.fotomenu > span:last-of-type {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /*'Convergence', sans-serif;*/
  font-weight: 400;
  width: auto;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
}

/*icon-dots-two-vertical */
.fotomenu .icon-chevrons-right {
  font-size: 26px;
  border: 0px solid black;
  font-weight: 100;
  margin: 0 4px -2px 4px;
}

.setinha{
  position: absolute;
  left: -30%;
  top:50vh;
  width: 25px;
  height: 25px;
  transform: rotateZ(45deg);
  background: rgba(255,255,255, 0.0);
}



/* Config */

.hide {
  display: none !important;
  visibility: hidden !important;
}
.show {
  display: contents !important;
  visibility: visible !important;
}


/* Masonry Grid Config */

#projetosgrid {
  /*width: 980px;*/
  /*width: 95%;*/
  /*display: inline-block;  ???? */
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 0px;
  padding-bottom: 80px;

  /*transform: translateX(10px);*/
}

#colecoesgrid {
  /*width: 980px;*/
  /*width: 95%;*/
  /*display: inline-block;  ???? */
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 80px;
  /*transform: translateX(10px);*/
}

.gridpj {
  /*width: 980px;*/
  /*width: 95%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 90px;
  visibility: hidden;
  /*transform: translateX(10px);*/
}

#instafeed {
  /*width: 980px;*/
  /*width: 95%;*/
  width: auto;
  margin: 0 auto;
  padding: 10px 0 150px 0;
  /*transform: translateX(10px);*/
}

.grid-sizer {
  width: 410px;
}

.item {
  display: block;
  float: left;
  width: 420px;
  margin: 0 20px 20px 0;
  color: white;
  cursor: pointer;
  overflow: hidden;



}
.item> img{
  width: 420px;
  height: auto;
  /*-webkit-transform: scale(1);
	transform: scale(1);
  filter: contrast(100%) brightness(100%) saturate(90%);
  filter:none;
  -webkit-transition: .3s cubic-bezier(.54,.32,.52,.72);
  transition: .3s cubic-bezier(.54,.32,.52,.72);*/
  overflow: hidden;
  z-index: 5;
}

.item img:hover{
  /*-webkit-transform: scale(1.01);
  transform: scale(1.01);
  filter: contrast(108%) brightness(115%) saturate(115%);
  -webkit-transition: .3s cubic-bezier(.54,.32,.52,.72);
  transition: .3s cubic-bezier(.54,.32,.52,.72);*/
}

.item > figcaption {
  margin: 0px 0px;
  width: auto;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  z-index: 30;
  position: absolute;
  padding: 15px 15px;
  bottom: 18px;
  background-color: rgba(0,0,0,0.4);

}

.itemgallery {
  display: block;
  float: left;
  width: 420px;
  margin: 0 20px 20px 0;
  /*background-color: rgba(215, 255, 225, 0.6);*/
  cursor: pointer;
}

.iteminsta {
  display: block;
  float: left;
  width: 420px;
  margin: 0 15px 15px 0;
  background-color: rgba(37, 15, 53,1);
}


.itemgallery img {
  width: 420px;
  height: auto;
}

.hovereffect img{
  -webkit-transform: scale(1);
	transform: scale(1);
  filter: contrast(100%) brightness(100%) saturate(90%);
  filter:none;
  -webkit-transition: .3s cubic-bezier(.54,.32,.52,.72);
  transition: .3s cubic-bezier(.54,.32,.52,.72);
}

.hovereffect img:hover{
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  filter: contrast(108%) brightness(115%) saturate(115%);
  /*-webkit-transition: .3s cubic-bezier(.54,.32,.52,.72);*/
  /*transition: .3s cubic-bezier(.54,.32,.52,.72);*/
}

.iteminsta img {
  width: 420px;
  height: auto;
}


.iteminsta > h5 {
  padding: 16px 12px;
  margin: 0px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.8) ;
}

/* Infinite Scrool */

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #777;
}


#borderinshadow{
  /*
    width: 100%;
    position: absolute;
    height: 89.8vh;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) -19%,rgba(246,246,246,0) 8%,rgba(209,209,209,0) 50%,rgba(245,245,245,0) 92%,rgba(254,254,254,0.7) 124%);
    overflow-y: scroll;
    top: 5.5%;
  }

  only bottom{*/
      width: 100%;
      position: absolute;
      height: 10vh;
      z-index: 50;
      background: linear-gradient(to bottom, rgba(255,255,255,0) -19%,rgba(246,246,246,0) 8%,rgba(209,209,209,0) 50%,rgba(245,245,245,0) -100%,rgba(0,0,0,0.6) 150%);
      overflow-y: hidden;
      top: 85.2%;


  /*
  border top bottom

      width: 100%;
      position: absolute;
      height: 89.6vh;
      z-index: 1;
      top: 5.5%;
      border: 0.6px solid #ffffff;
  }
  */
}


/* Decoração Informação */

.infodecor{
  display: flex; /* none no deploy */
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-43.8vh);
  margin: 0 auto;
  width: 80vw;
  height: 88.5vh;
  background: rgba(252, 252, 252, 0.94);
  z-index: 25;
  /* border-radius: 25px ; */
}
.infodecor>section{
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.infodecor>h4{
  /* padding: 6px 0 6px 30px;; */
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}
break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.idimg{
margin: 10px 5px;
}
.idimg>img {
  width: 12vw;
  height: auto;
}
#id1{
  margin-top: 70px;
}
#id2{
  margin-top: 30px;
  margin-bottom: 10px
}
#id2>img{
  /* width: 18vw; */
}
#id3{
  margin-bottom: 55px;
}
#id3>img{
  /* width: 18vw; */
}

#id5{
  margin-bottom: 40px;
}
#idf6{
  top: 0.5em;
  font-size: 2.8em;
  left: 50%;
  transform: translateX(-50%);
}
#idf6b{
  top: 2.2em;
}
#idf7{
  bottom: 1.5vh;
  font-size: 1em;
  cursor: pointer;
  right: 2em;
}

#idf7>a:hover{
  color: rgba(68, 49, 131, 0.97);
}
#idf7>a{
  text-decoration: none;
  color: black;
}

/* Password Page */
.private{
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(3, 10, 37);
  z-index: 1;
  visibility: hidden;
}

.pass{
  flex: 0 1 auto;
  text-align: center;
  width: 400px;
  height: 150px;
  border: 2px solid white;
  z-index: 2;
}
.passborder{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 30px;
}
.pass > h1 {
  margin: 20px 0;
  position: relative;
  display: inline-block;
  font-size:2em;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  color: white;
  padding: 5px 15px 6px 15px;

}
#pvpass{
  border: 2px solid white;
  border-radius: 4px;
  height: 25px;
  width: 180px;
  font-size:1em;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  text-align: center;
}








                            /* FOTOS CONFIG */
/*
.fotogrid{
  display:none;
  width:auto;
  height: auto;
  padding: 5px 5px;
}*/


/* Next & previous buttons */
.prev{
  /*background: rgba(0, 0, 0, 0.5);*/
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 75%;
  padding: 0px;
  color: white;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  left: 0px;
  align-self: flex-start;
}

.next {
  /*background: rgba(0, 0, 0, 0.5);*/
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 75%;
  padding: 0px;
  color: white;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  align-self: flex-start;
  right: 0;
}
.addbox{
  /*background: rgba(0, 0, 0, 0.5);*/
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: -10px;
  padding: 0px;
  color: white;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.boxmessage{
  visibility: visible;
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 3px 14px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size:1em;
  font-weight: 100;
  font-family: "Convergence", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 20;
}


@media (max-width: 360px) {
.logo{
  min-width: 75%;
}
.langsb > ul > li, .langsa > ul > li {
  display: block;
  font-size: 0.8em;
  padding: 0 0.3em;
}
.logotop > h1 {
  font-size: 1.0em;
  padding: .3em 10px .3em 10px;
  margin: 10px 0;
}
.projetosgrid, .colecoesgrid, .instagrid, .maingrid{
  top: 6%;
  height: 85.5vh;
}
.menu{
  width: 75%;
  padding-top: .5em;
}
.menubtnx .aa {
  font-size: 4em;
}

.menu > ul > li {
  font-size: 2em;
  letter-spacing: .2em;
  line-height: 1.5em;
}
.enterpage > figure {
  background-size: contain;
  background-position: center center ;
  height: 100%;
  position: absolute;
  width: 100%;
}
}

@media (max-width: 640px) and (orientation: landscape) {

}
@media (max-width: 940px){
  .idimg>img {
    width: 21vw;
    height: auto;
  }

  .infodecor>section{
    padding: 0 2%;
    width: 90%
  }
}
@media (min-width:940px) and (max-width: 1250px){
  .idimg>img {
    width: 19vw;
    height: auto;
    padding: 0 2%;
  }
}
@media (min-width:1250px) and (max-width: 1500px){
  .idimg>img {
    width: 24vh;
    height: auto;
    padding: 0 2%;
  }
}
@media (min-width: 1500px) {
  .infodecor{
    display: flex;
    max-width: 60vw;
  }
  .infodecor>section{
    padding: 0 5%;
  }
  .idimg>img {
    width: 22vh;
    height: auto;
  }

}

.lightboxadd:hover{
  cursor: url('img/lightboxadd.svg'), auto;
}

.lightboxrem:hover{
  cursor: url('img/lightboxrem.svg'), auto;
}

.prev:hover{
  cursor: url('img/chevron-thin-left.svg'), auto;
}

.next:hover {
  cursor: url('img/chevron-thin-right.svg'), auto;
}
