@font-face {
  font-family: 'icomoon';
  src:  url('/font/icomoon.eot?vusi0l');
  src:  url('/font/icomoon.eot?vusi0l#iefix') format('embedded-opentype'),
    url('/font/icomoon.ttf?vusi0l') format('truetype'),
    url('/font/icomoon.woff?vusi0l') format('woff'),
    url('/font/icomoon.svg?vusi0l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-grid:before {
  content: "\e903";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevrons-right:before {
  content: "\e901";
}
